<!---------------------------------- Home part ----------------------------------------------->

<section>
  <div>
    <img class="image" [src]="[headerImgSrc]" alt="laptopImg" />
  </div>
</section>
<!---------------------------------- Services part ----------------------------------------------->
<div>
  <section id="services" class="presentation">
    <div class="introduction">
      <h1>Mac Book</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        eveniet ex quaerat.
      </p>
    </div>

    <!---------------------------------- Services Food Images part ----------------------------------------------->

    <div class="cover">
      <img [src]="[productImgSrc1]" alt="productImg" />
    </div>
  </section>
</div>
<!---------------------------------------------------------------------------------------------->



<!---------------------------------- About Us part ----------------------------------------------->

<section id="aboutUs">
  <div class="aboutUsContent">
    <h1>About Us</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod veniam
      deserunt libero mollitia ullam numquam nisi vitae aut corrupti sit,
      laborum fugit, nulla expedita! Voluptates dolores itaque eligendi sint.
    </p>
  </div>
</section>

<!---------------------------------- Contact Us part---------------------------------------------------------->
