.transactionForm{
    padding: 2%;
    background: #0062CC;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 6% 10%;
    z-index: 2;
    opacity: 100%;
}
.form-group{
    margin-left: 8%;
    margin-top: 2%;
}
.col-form-label
{
    font-size: 16px;
    z-index: 1;
    color: #fff;
}

.btn{
    margin: 2% 64%;
}

@media screen and (max-width:1024px)
{
    .transactionForm
    {
        margin: 20% 10%;
    }

    .btn{
        margin: 2% 34%;
    }
}