<div class="userProfile">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hello {{user.userName}} !! Welcome to CapStore. </h5>

        <div class="custom-control custom-switch editUserSwitchBtn">
          <input type="checkbox" (click)="editUser()" class="custom-control-input" id="customSwitches1">
          <label class="custom-control-label" for="customSwitches1">Edit</label>
        </div>
        <div class="custom-control custom-switch showAllOrdersSwitchBtn">
          <input type="checkbox" (click)="showOrders()" class="custom-control-input" id="customSwitches2">
          <label class="custom-control-label" for="customSwitches2">Order's History</label>
        </div>

        <div class="profileForm">
        <form [formGroup]="profileForm">
          <div class="form-group row card-text">
            <label for="username" class="col-sm-2">User Name</label>
            <div class="col-sm-8">
              <input type="text" formControlName="userName"
              class="form-control" [readonly]="readonly" [value]="user.userName" id="username">
            </div>
            <div *ngIf="profileForm.get('userName').hasError('required') && profileForm.get('userName').touched">
                <span><p class="alert alert-danger">Username is required*</p></span>
            </div>
          </div>

          <div class="form-group row card-text">
            <label for="email" class="col-sm-2">Email ID</label>
            <div class="col-sm-8">
              <input type="email" formControlName="emailId"
              class="form-control" readonly [value]="user.emailId" id="email">
            </div>
            <div *ngIf="profileForm.get('emailId').hasError('required') && profileForm.get('emailId').touched">
                <span><p class="alert alert-danger">EmailID is required*</p></span>
            </div>
            <div *ngIf="profileForm.get('emailId').hasError('email') && profileForm.get('emailId').touched">
                <span><p class="alert alert-danger">Enter valid EmailID*</p></span>
            </div>
          </div>

          <div class="form-group row card-text">
            <label for="contact" class="col-sm-2">Contact No</label>
            <div class="col-sm-8">
              <input type="text" formControlName="contact"
              class="form-control" [readonly]="readonly" [value]="user.contactNo" id="contact">
            </div>
            <div *ngIf="profileForm.get('contact').hasError('required') && profileForm.get('contact').touched">
                <span><p class="alert alert-danger">EmailID is required*</p></span>
            </div>
            <div *ngIf="profileForm.get('contact').hasError('minlength') && profileForm.get('contact').touched">
                <span><p class="alert alert-danger">Enter valid Contact No*</p></span>
            </div>
            <div *ngIf="profileForm.get('contact').hasError('maxlength') && profileForm.get('contact').touched">
              <span><p class="alert alert-danger">Enter valid Contact No*</p></span>
          </div>
          </div>

          <div class="form-group row card-text">
            <label for="wallet" class=" col-sm-2" >Wallet Amount</label>
            <div class="col-sm-8">
              <input type="text" formControlName="walletAmount"
              class="form-control" readonly [value]="user.walletAmount|currency:'INR'" id="wallet">
            </div>
          </div>

          <div class="form-group row card-text">
            <button [hidden]="hideBtn" [disabled]="!profileForm.valid" (click)="updateUser()" class="btn btn-success btn-sm updateBtn">
                Save
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>

<!------------------------------------ To display all orders.------------------------------------------------>
      <div class="showOrders" *ngIf="showOrder">
          <h1>All Orders</h1>
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Order ID</th>
                <!-- <th scope="col">Product Name</th> -->
                <th scope="col">Quantity</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <!-- <div *ngIf="orders.length <= 0">
                  <p class="alert alert-danger" >No orders purchased yet.</p>
                </div> -->
                <td>{{order.orderId}}</td>
                <!-- <td>
                  <p *ngFor="let product of order.cart">{{product.productName}}</p>
                </td> -->
                <td>{{order.totalQuantity}}</td>
                <td>{{order.totalAmount|currency:"INR"}}</td>
                <td>{{order.time|date:'mediumDate'}}</td>
              </tr>              
            </tbody>
          </table>
      </div>
</div>